/* Universal Selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
/* colors for the page */
:root {
  --blue: #2864d4;
  --gray: #474747;
  --orange: #ea6a47;
  --red: #d2042d;
  --dark-orange: rgba(234, 106, 71, 0.8);
  --gold: #d49828;
  --lime-green: #b3c100;
  --black: #000000;
}

body {
  background-color: var(--blue);
}

.section-title {
  color: var(--gold);
  flex-wrap: wrap;
  flex: 0 100%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 10px auto 30px auto;
  text-align: center;
}

/* SiteWide Styles */
/* Style the Header */
header {
  background-color: var(--gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
} /* Makes the header and nav (block elements) inline elements and spaces them apart equally */

/* Style My Name */
header h1 {
  background-color: var(--blue);
  color: var(--dark-orange);
  padding: 10px;
  font-size: 50px;
}

/* Style the Navigation Links */
.nav-links {
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  border: 2px solid var(--link-border);
}

.nav-links li {
  background-color: var(--gold);
  padding: 10px;
  border: 2px solid var(--link-border);
}

.nav-links li a {
  color: var(--blue);
  text-decoration: none;
  font-size: 3vw;
  font-weight: bold;
}

/* Utility Classes */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Specific Classes */
/* Style the Hero */
.hero {
  background-image: url(../images/bg-img.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.hero-subtitle {
  background-color: var(--red);
  color: var(--gray);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  flex: 0 3%;
  position: absolute;
  font-size: 2.5768vw;
  bottom: 10px;
  right: 10px;
}

.hero img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 20vw;
}

/* Style the About Me Section */
.about-intro {
  color: var(--dark-orange);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto 5vw auto;
  width: 50%;
  font-size: 20px;
}

.about-info {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0 20px 100px 20px;
  width: 50%;
  text-align: center;
  flex-direction: column;
}

.skills-title {
  color: var(--dark-orange);
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.skills {
  color: var(--black);
  font-weight: bold;
  font-size: 20px;
  flex-direction: column;
  margin-bottom: 2vh;
}

.skill {
  text-align: center;
  list-style-type: none;
  background-color: var(--gold);
  border: 2px solid var(--black);
  margin-bottom: .3vh;
}
/* Style the Work Section */
/* Instructions */
.project-instructions {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5vh;
  color: var(--red);
}

.project-description {
  text-align: center;
}
/* Main Project */
.primary-project {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 20px 0 20px;
  padding-bottom: 50px;
}

.primary-project img {
  max-width: 100%;
}

.primary-info {
  background-color: var(--orange);
  color: var(--gray);
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 4vw;
  margin-bottom: 0;
  margin-left: 0;
  text-decoration: none;
  opacity: 0.95;
}

.primary-info h3 {
  font-size: 5vw;
}

.primary-info h4 {
  font-size: 2.5vw;
}

/* Secondary Projects */
.secondary-project {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  padding-bottom: 50px;
}

.secondary-project img {
  width: 39vw;
  height: 20vw;
}

.secondary-info {
  background-color: var(--orange);
  color: var(--gray);
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.93;
}

.secondary-info h3 {
  font-size: 3vw;
}

.secondary-info h4 {
  font-size: 1.5vw;
}

.contact-info {
  color: var(--orange);
  font-size: 20px;
  text-align: center;
  line-height: 3;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.contact-info a {
  color: var(--dark-orange);
  text-decoration: none;
  font-size: 20px;
  margin: 20px;
  flex: 1 100%;
}

/* MEDIA QUERY FOR MOBILE PHONES AND LARGER */
@media screen and (min-width: 502px) {
  header {
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    justify-content: flex-start;
    margin: 2vw 0 2vw 2vw;
    flex-direction: column;
  }

  .nav-links li {
    width: 100%;
  }

  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
    flex: 1 100%;
  }

  .contact-info a {
    font-size: 20px;
    flex: 0 auto;
    margin: 1vw;
  }
}

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 730px) {
  .contact-info {
    font-size: 25px;
  }

  .contact-info a {
    font-size: 25px;
  }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 980px) {
  .section-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 20px 20px 10px 20px;
    text-decoration: underline;
    text-decoration-color: var(--gray);
  }

  /* Style the Header */
  header {
    padding: 20px;
    justify-content: space-between;
  }

  /* Style the Navigation Links */
  .nav-links {
    flex-direction: row;
    border: 2px solid var(--gold);
  }

  .nav-links li {
    background-color: var(--blue);
    padding: 20px;
    width: auto;
    border: 2px solid var(--gold);
  }

  .nav-links li a {
    color: var(--dark-orange);
    text-decoration: none;
    font-size: 20px;
  }

  .nav-links li a:hover {
    color: var(--lime-green);
  }

  /* Style the About Me Section */
  .about-intro {
    font-size: 30px;
    margin: 1vw auto 3vw auto;
  }

  .about-info {
    font-size: 20px;
  }

  .contact-info {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .contact-info a {
    font-size: 30px;
  }

  .contact-info a:hover {
    color: var(--lime-green);
  }
}
