/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
/* colors for the page */
:root {
    --primary-color: #0091d5;
    --secondary-color: #474747;
    --tertiary-color: #ea6a47;
}

body {
    background-color: var(--primary-color);
}

.section-title {
    color: #dbae58;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 20px 20px 10px 20px;
    margin: 10px;
    border-bottom: 3px solid var(--secondary-color);
    text-align: center;
}

/* SiteWide Styles */
/* Style the Header */
header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--secondary-color);
} /* Makes the header and nav (block elements) inline elements and spaces them apart equally */

/* Style My Name */
header h1 {
    background-color: var(--primary-color);
    color: rgba(234, 106, 71, 0.80);
    padding: 10px;
    font-size: 40px;
}

/* Style the Navigation Links */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    padding: 10px;
    background-color: var(--primary-color);
}

.nav-links li a {
    color: rgba(234, 106, 71, 0.80);
    text-decoration: none;
    font-size: 13px;
}

.nav-links li a:hover {
    color: #b3c100;
}
/* Utility Classes */
.flex-row {
    display: flex;
}

/* Specific Classes */
/* Style the Hero */ 
.hero {
    background-image: url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.hero-subtitle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.hero-subtitle h2 {
    background-color: rgb(255, 0, 0);
    color: var(--secondary-color);
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 20vw;
}

/* Style the About Me Section */
.about-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: rgba(234, 106, 71, 0.81);
    text-align: center;
    text-align: center;
    margin: 0 auto 50px auto;
    width: 50%;
    font-size: 40px;
    border-bottom: 3px solid #dbae58;
    
}
.about-info {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 20px 100px 20px;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

/* Style the Work Section */
/* Main Project */
.primary-project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding-bottom: 50px;
}

.primary-project img {
    max-width: 100%;
}

.primary-info {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 4vw;
}

.primary-info h3 {
    font-size: 2.4vw;
}

.primary-info h4 {
    font-size: 1vw;
}


/* Secondary Projects */
.secondary-project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding-bottom: 50px;
}

.secondary-project img {
    max-width: 40%;
    display: flex;
    flex: 33.33%;
    padding: 5px;
}

.secondary-info {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 2vw;
}

.secondary-info h3 {
    font-size: 2vw;
}

.secondary-info h4 {
    font-size: 1.0vw;
}

/* Unique Id's */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}
