Universal Selectors
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
/* colors for the page */
:root {
    --primary-color: #7ef2ff;
    --secondary-color: #474747;
    --tertiary-color: rgb(255, 0, 0);
}

/* SiteWide Styles */
/* Style the Header */
header {
    background-color: var(--secondary-color);
    
}

header h1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header a {
    color: var(--primary-color);
}
/* Utility Classes */

/* Specific Classes */
/* Style the Hero */ 
.hero {
    background-image: url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center;
}

.hero h2 {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}
/* Unique Id's */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}
