/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
/* colors for the page */
:root {
    --primary-color: #0091d5;
    --secondary-color: #474747;
    --tertiary-color: #ea6a47;
}

body {
    background-color: var(--primary-color);
}

.section-title {
    color: #dbae58;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    line-height: 1.5;
    flex: 0 100%;
}

/* SiteWide Styles */
/* Style the Header */
header {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--secondary-color);
} /* Makes the header and nav (block elements) inline elements and spaces them apart equally */

/* Style My Name */
header h1 {
    background-color: var(--primary-color);
    color: rgba(234, 106, 71, 0.80);
    padding: 10px;
    font-size: 40px;
    flex: 0 100%;
}

/* Style the Navigation Links */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    background-color: #dbae58;
    padding: 10px;
}

.nav-links li a {
    color: rgba(234, 106, 71, 0.80);
    text-decoration: none;
    font-size: 3vw;
}

/* Utility Classes */
.flex-row {
    display: flex;
}

/* Specific Classes */
/* Style the Hero */ 
.hero {
    background-image: url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.hero-subtitle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex: 0 3%;
    position: absolute;
    font-size: 1.9vw;
    bottom: 10px;
    right: 10px;
    background-color: rgb(255, 0, 0);
    color: var(--secondary-color);
}

.hero img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 20vw;
}

/* Style the About Me Section */
.about-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: rgba(234, 106, 71, 0.81);
    text-align: center;
    text-align: center;
    margin: 0 auto 50px auto;
    margin-bottom: 5vw;
    width: 50%;
    font-size: 20px;
    flex: 0 100%;
    
}

.about-info {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 20px 100px 20px;
    margin-bottom: 5vw;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

/* Style the Work Section */
/* Main Project */
.primary-project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding-bottom: 50px;
}

.primary-project img {
    max-width: 100%;
}

.primary-info {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 4vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
}

.primary-info h3 {
    font-size: 4.0vw;
}

.primary-info h4 {
    font-size: 2.0vw;
}


/* Secondary Projects */
.secondary-project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding-bottom: 50px;
}

.secondary-project img {
    max-width: 40%;
    display: flex;
    flex: 33.33%;
    padding: 5px;
}

.secondary-info {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 2vw;
}

.secondary-info h3 {
    font-size: 2vw;
}

.secondary-info h4 {
    font-size: 1.0vw;
}

.contact-info {
    color: var(--tertiary-color);
    font-size: 20px;
    justify-content: center;
    align-content: center; 
    text-align: center;
    line-height: 3.0;
    margin-left: 2vw;
    margin-bottom: 2vw;
}

.contact-info a {
    color: rgba(234, 106, 71, 0.80);
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    flex: 1 100%;
}

.contact-info a:hover {
    color: #b3c100;
}

/* MEDIA QUERY FOR MOBILE PHONES AND LARGER */
@media screen and (min-width: 562px) {
    header {
        align-items: flex-start;
        justify-content: space-between;
    }

    header h1 {
        margin-top: 2vw;
    }

    .nav-links {
        justify-content: flex-start;
        margin: 2vw 0 2vw 2vw;
        flex-direction: column;
    }

    .nav-links li {
        width: 100%;
        border: 1px solid var(--primary-color);
    }
}

.contact-info {
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 768px) {
    .contact-info {
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .contact-info a {
        color: rgba(234, 106, 71, 0.80);
        text-decoration: none;
        font-size: 20px;
        margin: 20px;
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 980px) {
    .section-title {
        color: #dbae58;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 40px;
        padding: 20px 20px 10px 20px;
        margin: 10px;
        text-decoration: underline;
        text-decoration-color: var(--secondary-color);
    }
    
    /* SiteWide Styles */
    /* Style the Header */
    header {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        background-color: var(--secondary-color);
    } /* Makes the header and nav (block elements) inline elements and spaces them apart equally */
    
    /* Style My Name */
    header h1 {
        background-color: var(--primary-color);
        color: rgba(234, 106, 71, 0.80);
        padding: 10px;
        font-size: 40px;
    }
    
    /* Style the Navigation Links */
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        flex-direction: row;
        margin: 0;
        border: 1px solid #dbae58;
    }
    
    .nav-links li {
        padding: 10px;
        background-color: var(--primary-color);
        width: auto;
    }
    
    .nav-links li a {
        color: rgba(234, 106, 71, 0.80);
        text-decoration: none;
        font-size: 13px;
    }
    
    .nav-links li a:hover {
        color: #b3c100;
    }
    
    /* Specific Classes */
    /* Style the Hero */ 
    .hero {
        background-image: url(../images/bg-img.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;
    }
    
    .hero-subtitle {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: rgb(255, 0, 0);
        color: var(--secondary-color);
    }
    
    .hero img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 20vw;
    }
    
    /* Style the About Me Section */
    .about-intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        color: rgba(234, 106, 71, 0.81);
        text-align: center;
        text-align: center;
        margin: 0 auto 50px auto;
        width: 50%;
        font-size: 40px;  
    }
    .about-info {
        color: #000000;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin: 0 20px 100px 20px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    
    /* Style the Work Section */
    /* Main Project */
    .primary-project {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        padding-bottom: 50px;
    }
    
    .primary-project img {
        max-width: 100%;
    }
    
    .primary-info {
        background-color: var(--tertiary-color);
        color: var(--secondary-color);
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        min-height: 4vw;
    }
    
    .primary-info h3 {
        font-size: 2.4vw;
    }
    
    .primary-info h4 {
        font-size: 1vw;
    }
    
    
    /* Secondary Projects */
    .secondary-project {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        padding-bottom: 50px;
    }
    
    .secondary-project img {
        max-width: 40%;
        display: flex;
        flex: 33.33%;
        padding: 5px;
    }
    
    .secondary-info {
        background-color: var(--tertiary-color);
        color: var(--secondary-color);
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        min-height: 2vw;
    }
    
    .secondary-info h3 {
        font-size: 2vw;
    }
    
    .secondary-info h4 {
        font-size: 1.0vw;
    }
    
    .contact-info {
        color: var(--tertiary-color);
        font-size: 20px;
        justify-content: center;
        align-content: center; 
        text-align: center;
        line-height: 3.0;
        margin-left: 2vw;
    }
    
    .contact-info a {
        color: rgba(234, 106, 71, 0.80);
        text-decoration: none;
        font-size: 20px;
        margin: 3vw;
    }
    
    .contact-info a:hover {
        color: #b3c100;
    }
}