/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
/* colors for the page */
:root {
    --primary-color: #7ef2ff;
    --secondary-color: #474747;
    --tertiary-color: rgb(255, 0, 0);
}

/* Body Color */
body {
    background-color: var(--primary-color);
}

/* SiteWide Styles */
/* Style the Header */
header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
} /* Makes the header and nav (block elements) inline elements and spaces them apart equally */

/* Style My Name */
header h1 {
    background-color: var(--primary-color);
    color: rgba(255, 0, 0, 0.73);
    padding: 10px;
}

/* Style the Navigation Links */
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    padding: 10px;
    background-color: var(--primary-color);
}

.nav-links li a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: lighter;
}

.nav-links li a:hover {
    color: rgb(33, 165, 33);
}
/* Utility Classes */

/* Specific Classes */
/* Style the Hero */ 
.hero {
    background-image: url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.hero-subtitle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.hero-subtitle h2 {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 20vw;
}

/* Style the Projects */
/* Main Project */
.primary-project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding-bottom: 50px;
}

.primary-project img {
    max-width: 100%;
}

.primary-info {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 4vw;
}

.primary-info h3 {
    font-size: 2.4vw;
}

.primary-info h4 {
    font-size: 1vw;
}


/* Secondary Projects */
.secondary-project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding-bottom: 50px;
}

.secondary-project img {
    max-width: 20%;
}

.secondary-info {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 2vw;
}

.secondary-info h3 {
    font-size: 1vw;
}

.secondary-info h4 {
    font-size: 0.5vw;
}

/* Unique Id's */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}
