/* Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
/* colors for the page */
:root {
    --primary-color: #7ef2ff;
    --secondary-color: #474747;
    --tertiary-color: rgb(255, 0, 0);
}

/* SiteWide Styles */
/* Style the Header */
/* Style the Title Bar */
.title-bar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
} /* Makes the header and nav (block elements) inline elements and spaces them apart equally */

/* Style My Name */
.name {
    background-color: var(--primary-color);
    color: rgba(255, 0, 0, 0.73);
}
/* Style the Navigation Links */
.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    padding: 10px;
}

.nav-links li a {
    color: var(--primary-color);
    text-decoration: none;
}

.nav-links li a:hover {
    color: rgb(33, 165, 33);
}
/* Utility Classes */

/* Specific Classes */

/* Style the Hero */ 
.hero {
    background-image: url(../images/bg-img.jpg);
    background-size: cover;
    background-position: center;
}

.hero h2 {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}
/* Unique Id's */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}
